body{
  background-color:black;
}

header{
  color:white;
  text-align: center;
}

.blue{
  width:100%;
  background-color:#6C6FA4;
  text-align:center;
  clear:both;
}

content1{
  width:50%;
  float:left;
  color:white;
}

content2{
  text-align: center;
  width:50%;
  float:right;
  color:white;
}
