#wrapper {
	margin: 2px 2px 2px 2px;
	border: purple 2px dashed;
	padding: 2px 2px 2px;
}

p{
	text-align: center;
	font-size: 50%;
}

.green{
	color: green;
}

.orange{
	color: orange;
	text-align: left;
	font-size: 100%;
}

#red{
	color: red;
	vertical-align: super;
}

.purple{
	color: purple;
	text-align: right;
}

#yellow{
	color: yellow;
}
