body{
  background-color: white;
}

#wrapper{
  background-color:white;
  height: 1000px;
}

#header{
  background-color:red;
  width:90%;
  height:70px;
}

#content{
  background-color:green;
  width:90%;
  height:580px;
  float:left;
}

#footer{
  background-color:blue;
  width:90%;
  height:70px;
  clear:both;
}

.white{
  color:white;
}

.header{
  color:white;
  text-align:center;
}
